doctype html
html(lang='en', ng-app='CounterApp')
  head
    meta(charset='UTF-8')
    title Title
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable = no")
    //link(href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href="css/vendor.min.css")
    link(rel='stylesheet', type='text/css', href="css/main.min.css")
  body
    .container

    script(src='js/vendor.min.js')
    script(src='js/all.min.js')
    script.
      alert('Hello World');


